@font-face {
    font-family: "Ocean Regular";
    src: url(../fonts/HandoSoftTrial-Regular.ttf);
}

@font-face {
    font-family: "Ocean Bold";
    src: url(../fonts/HandoSoftTrial-Bold.ttf);
}

h1 {
    text-align: center;
    font-size: 40px;
    font-family: "Ocean Bold";
    background: -webkit-linear-gradient(#72aab4, #042633);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 20px;
}

html {
    height: 100%;
}

body {
    background-color: black;
    margin: 0px;
}

.mapPopUp {
    display: inline-grid;
    justify-items: center;
    align-items: center;
    margin-bottom: 32px;
    background: #a6bec2;
    border: 2px solid #72aab4;
    border-radius: 4px;
    color: white;
    font-family: "Ocean Regular";
    font-size: 10px;
    padding: 20px 20px;
}

    .mapPopUp span {
        padding: 40px;
    }

    .mapPopUp button {
        margin-right: 4px;
        height: 24px;
        width: 24px;
        position: relative;
        top: 0px;
        right: -35%;
    }
